<div id="navbar-container">

    <div id="navbar-home">

        <a href="/">
            <div id="navbar-icon"></div>
            <h1 class="racing-sans">Project TAGGER</h1>
        </a>
    </div>

    <div id="navbar-button-menu">
        <!-- Login Dropdown -->
        <% if(!name){ %>

            <a id="navbar-dropdown" class="navbar-buttons racing-sans">
                Login
                <div class="dropdown">
                    <form id='login-form' method="post" action="/login">
                
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username">
                
                        <label for="password">Password:</label>
                        <input type="text" name="password" id="password">
                
                        <input type="submit" value="Login">
                
                    </form>
                </div>
            </a>
        
        <% } %>
        
        <!-- Navbar Endpoints -->
        <% global.navEndpoints.forEach((endpoint) => { %>
    
            <% if(endpoint != '/player' && endpoint != '/admin'){ %>
                <a class="navbar-buttons racing-sans deactivated" href="<%= endpoint %>"></a>
            <% } else if(name) { %>
                <% if(endpoint == '/player' && name.name != 'p3'){ %>
                    <a class="navbar-buttons racing-sans deactivated" href="<%= endpoint %>"></a>
                <% } else if(endpoint == '/admin' && name.name == 'p3'){ %>
                    <a class="navbar-buttons racing-sans deactivated" href="<%= endpoint %>"></a>
                <% } %>
            <% } %>
    
        <% }); %>

        <!-- Logout Link -->
        <% if(name){ %>

            <a id="navbar-dropdown" class="navbar-buttons racing-sans" href="logout">
                <%= name.name %> - Logout
            </a>

        <% } %>
        <div id="navbar-spacer"></div>
    </div>
</div>
<script src="/scripts/frontend/navbar.js" defer></script>