</html>
<div id="score-display">
    <p id="round-count">Waiting for Round</p>
    <p id="round-timer">TBD</p>
    <p><span id="p1-score">0</span> : <span id="p2-score">0</span></p>
</div>

<div id="help-container">
    <button id="help-button" onclick="toggleHelpModal()">Help</button>
</div>

<div id="menus">
  <div id="lobby-menu">
    <p id="lobby-status">Searching for lobbies...</p>
    <ul id="game-list"></ul><br>
  </div>

  <div id="game-menu">
      <p id="player-status">Not Currently In Game</p>
      <ul id="player-list"></ul>
  </div>
</div>

<div id="stream-container">
    <!--
    <div id="stream-overlay-menu">
        <button onclick="window.location.href = 'logout'">Logout</button>
        <button>Help</button>
        <button id="stream-connect" onclick="streamPlay()">Connect to Stream</button>
    </div>
    -->
    
    <div id="stream-overlay">
        <p>Logged in as <%= name.name %></p>
        <p>This is the score area</p>
    </div>

    <canvas id="control-canvas"></canvas>
    <img id="stream" src="data:image/png;base64,<%= stream.frame %>">
</div>

<div id="help-modal" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="toggleHelpModal()">&times;</span>
        <h2>Game Rules</h2>
        <p>
            Here are the rules for the game:
            <ul>
                <li>Each player controls an RC car and tries to "tag" the opponent's car by getting close to it.</li>
                <li>The game is timed, and each successful tag scores a point.</li>
                <li>The player with the highest score at the end of the game wins.</li>
                <li>Players can use the control panel to steer their cars.</li>
                Add more game rules as necessary
            </ul>
        </p>
    </div>
</div>

<script src="/scripts/frontend/user/controls.js" type="module"></script>

<script src="/scripts/frontend/user/stream.js" defer></script>

<script>
    function toggleHelpModal() {
        const modal = document.getElementById("help-modal");
        if (modal.style.display === "block") {
            modal.style.display = "none";
        } else {
            modal.style.display = "block";
        }
    }

    // Close modal when clicking outside of it
    window.onclick = function(event) {
        const modal = document.getElementById("help-modal");
        if (event.target === modal) {
            modal.style.display = "none";
        }
    };

</script>