<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/player_shared') %>

    <a onclick="winRound(1)">P1</a>
    <a onclick="winRound(0)">P2</a><br>
    <a onclick="createLobby()">Create Lobby</a><br>
    <!-- <a onclick="pauseGame()">PAUSE</a><br> -->
    <label for="timerSelect">Round Length:</label>
    <select name="timerSelect" id="timerSelect">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
    </select>
</body>

<script src="/socket.io/socket.io.js"></script>
<script>const socket = io();</script>
<script src="/scripts/frontend/player_shared.js" defer></script>
<script>
  //Inserts new lobbies with index passed by socket
  socket.on('updateGames', function(data){
    gameList.innerHTML += '<li id="' + data + '"><a onclick="joinGame(' + data + ')">' + data + '</a></li>';
  });

  //Initiates round end with passed player value
  function winRound(player){
    socket.emit('winRound', [lobby, player]);
  }

  //Queues server to create a new lobby
  function createLobby(){
    socket.emit('createLobby', document.getElementById('timerSelect').value);
  }

  //Sends a request to server to join lobby at the specified id
  function joinGame(id){
    socket.emit('joinAdmin', id);
  }

  function leave(){
    socket.emit('leaveAdmin');
    document.getElementById('lobby-menu').style.display = 'initial';
    document.getElementById('game-menu').style.display = 'none';
    playerList.innerHTML = '';
    lobby = -1;
  }

  function pauseGame(){
    socket.emit('pauseGame');
  }
</script>
<%- include('partials/footer') %>