<!DOCTYPE html>
<html>
    <h1>Home Page</h1>
    <h2>Under Construction</h2>
    <p>Please come back later</p>

    <button onclick="window.location.href = 'Player';">Player</button>
    <button onclick="window.location.href = 'Spectator';">Spectator</button>
</html>