<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/slideshow') %>

    <div class="home-section home-section-l lrgrad">
        <div class="home-section-inner home-section-inner-l">
            <h1>About Project TAGGER</h1>
            <p>
                Project TAGGER is a telepresent game of tag featuring the operation
                of remote-controlled cars.
            </p>
        </div>
    </div>

    <div class="home-section home-section-r rlgrad">
        <div class=" home-section-inner home-section-inner-r">

            <h1>Inspirations for Project TAGGER</h1>
            <p>
                Rocket League is a popular esport featuring remote-controlled cars in a virtual environment
                playing a straightforward game of soccer. We combined this idea with a physical component
                inspired by the Japanese crane game Toreba which uses an online application to control remote
                hardware in order to play the game. We chose to incorporate a first-person, car-level view for players,
                to make our design more similar to traditional racing simulator games which people might be more familiar with
                such as Forza Motorsport.
            </p>

            <p>
                Ultimately, we hope to deliver a memorable and entertaining experience which can be enjoyed
                physically or remotely by players and spectators alike.
            </p>
        </div>
    </div>

    <div class="home-section home-section-l lrgrad">

        <div class="home-section-inner home-section-inner-l">
            <h1>Project TAGGER Resources</h1>
            <p>
                See the <a href="/docs">documentation</a> for a complete
                rundown of Project TAGGER's rulebook and design specifications.
            </p>
        </div>
    </div>
</body>

<%- include('partials/footer') %>
