<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/player_shared') %>
    
</body>

<script src="/socket.io/socket.io.js"></script>
<script>const socket = io();</script>
<script src="/scripts/frontend/player_shared.js" defer></script>

<%- include('partials/footer') %>




