<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
    <canvas id="control-canvas"></canvas>

    <script src="/scripts/frontend/user/controls.js"></script>
</body>
<%- include('partials/footer') %>